pkgbase = resize-rootfs
	pkgdesc = Resize rootfs partition and filesystem to fill disk
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/BigfootACA/resize-rootfs
	arch = i686
	arch = x86_64
	arch = arm
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = meson
	depends = glibc
	depends = systemd
	depends = gcc-libs
	depends = util-linux-libs
	depends = fmt
	optdepends = e2fsprogs: for ext2/ext3/ext4 filesystem resize
	optdepends = btrfs-progs: for btrfs filesystem resize
	optdepends = xfsprogs: for xfs filesystem resize
	source = PKGBUILD
	sha256sums = SKIP

pkgname = resize-rootfs
